<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.mybatis.mapper.AlbumMapper">
	<resultMap id="AlbumResult" type="Album">
		<id property="id" column="album_id" />
		<result property="title" column="album_title" />
		<result property="createDate" column="album_createDate" />

		<association property="artist" column="artist_id" javaType="Artist">
			<id property="id" column="artist_id" />
			<result property="name" column="artist_name" />
			<result property="createDate" column="artist_createDate" />
		</association>

		<collection property="musicList" ofType="Music">
			<id property="id" column="music_id" />
			<result property="title" column="music_title" />
			<result property="description" column="music_description" />
			<result property="filename" column="music_filename" />
			<result property="createDate" column="music_createDate" />
		</collection>
	</resultMap>

	<select id="queryAll" resultMap="AlbumResult">
		select
		album.id as album_id,
		album.title as album_title,
		album.createDate as album_createDate,
		artist.id as artist_id,
		artist.name as artist_name,
		artist.createDate as artist_createDate,
		music.id as music_id,
		music.title as music_title,
		music.description as music_description,
		music.filename as music_filename,
		music.createDate as music_createDate
		from album
		left outer join artist on album.artist_id=artist.id
		left outer join music on album.id=music.album_id
	</select>

</mapper>