<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.mybatis.mapper.WeChatUserMapper">
	<resultMap id="WeChatUserResult" type="WeChatUser">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="alias" column="alias" />
		<result property="createDate" column="createDate" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="WeChatUser">
		insert into wechat_user
		(username, alias, createDate)
		values
		(#{username}, #{alias}, now())
	</insert>

	<update id="update" parameterType="WeChatUser">
		update wechat_user
		<set>
			username = #{username},
			alias = #{alias}
		</set>
		where id = #{id}
	</update>

	<delete id="delete">
		delete from wechat_user
		where id in
		<foreach collection="array" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="queryAll" resultMap="WeChatUserResult">
		select
		*
		from wechat_user
	</select>

	<select id="queryById" parameterType="Long" resultMap="WeChatUserResult">
		select
		*
		from wechat_user
		where id = #{id}
	</select>

	<select id="queryByUsername" parameterType="String" resultMap="WeChatUserResult">
		select
		*
		from wechat_user
		where username = #{username}
	</select>

</mapper>